<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <title>Some Zord</title>
</head>
    <body>
        <h1>We'll be writing back </h1>
        <p>
            the site is currently being updated.
        </p>
    </body>
</html>