<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <title>Some Zord</title>
</head>
    <body>
        {{> header}}
        <p>Project Page Text</p>
    </body>
    
    {{> footer}}
</html>